/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable function-no-unknown */

@font-face {
	font-family: Unicephalon;
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Unicephalon/unicephalon.heavy.ttf") format("truetype");
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;
		--ring: 215 20.2% 65.1%;
		--radius: 0.5rem;
		--scrollbar-width: 16px;

		accent-color: theme("colors.scrollbar-purple");
	}

	.dark {
		--background: 224 71% 4%;
		--foreground: 213 31% 91%;
		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;
		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;
		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;
		--border: 216 34% 17%;
		--input: 216 34% 17%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;
		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;
		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;
		--ring: 216 34% 17%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;

		font-feature-settings: "rlig" 1, "calt" 1;
	}
}

body {
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	scrollbar-color: theme("colors.scrollbar-purple-hover") transparent;
	scrollbar-width: auto;
}

*::-webkit-scrollbar {
	width: var(--scrollbar-width);
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
	border: calc(var(--scrollbar-width) / 2.8) solid transparent;
	border-radius: var(--scrollbar-width);
	background-color: theme("colors.scrollbar-purple");
	background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: theme("colors.scrollbar-purple-hover");
}

/** 
 * JavaScript Mastery Tutorial CSS:
 * > Next.js 13 Full Course 2023 (https://youtu.be/wm5gMKuwSYk)
 *
 * Note: The styles for this gradient grid background is
 * heavily inspired by the creator of this amazing site (https://dub.sh)
 * – all credits go to them! 
 */

.main {
	padding: 120px 24px 160px;
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	pointer-events: none;
}

.main::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, rgb(2 0 36 / 0%) 0, #fafafa 100%);
	z-index: 2;
}

.main::after {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("/assets/images/grid.svg");
	opacity: 0.4;
	filter: invert(1);
	z-index: 1;
}

.gradient {
	content: "";
	position: absolute;
	top: 80px;
	width: 100%;
	max-width: 640px;
	height: fit-content;
	height: 100%;
	background-image: radial-gradient(at 27% 37%, hsl(215deg 98% 61% / 100%) 0, transparent 0%),
		radial-gradient(at 97% 21%, hsl(125deg 98% 72% / 100%) 0, transparent 50%),
		radial-gradient(at 52% 99%, hsl(354deg 98% 61% / 100%) 0, transparent 50%),
		radial-gradient(at 10% 29%, hsl(256deg 96% 67% / 100%) 0, transparent 50%),
		radial-gradient(at 97% 96%, hsl(38deg 60% 74% / 100%) 0, transparent 50%),
		radial-gradient(at 33% 50%, hsl(222deg 67% 73% / 100%) 0, transparent 50%),
		radial-gradient(at 79% 53%, hsl(343deg 68% 79% / 100%) 0, transparent 50%);
	opacity: 0.15;
	filter: blur(100px) saturate(150%);
	z-index: 3;
}

@media screen and (width <= 640px) {
	.main {
		padding: 0;
	}
}

/* Tailwind Styles */
.app {
	/* @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-12 px-6; */
	@apply relative z-10 sm:px-12 px-6;

	overflow-x: hidden;
	overflow-y: auto;
}

/* md+ devices */
@media screen and (width >= 421px) {
	@-moz-document url-prefix() {
		.app_inner {
			margin-right: 0;
		}
	}

	body {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	.app {
		overflow-y: scroll;
	}

	.app_inner {
		margin-right: calc(var(--scrollbar-width) * -0.4);
	}
}

._btn {
	@apply rounded-full py-2 px-6 font-bold transition-all text-center text-sm font-inter flex items-center justify-center;

	/* transform: scale(0.99); */
}

._btn:active {
	@apply drop-shadow-md opacity-75;
}

._btn.orange_invert {
	@apply bg-secondary-orange text-white border border-transparent
	hover:bg-white hover:text-primary-orange hover:border-secondary-orange
	hover:drop-shadow-lg;
}

._btn.gray_invert {
	@apply bg-mlt-gray-6 text-mlt-dark-2 hover:bg-mlt-dark-3 hover:text-white;
}

._btn.gray_light {
	@apply bg-mlt-gray-6 text-mlt-dark-2 hover:bg-mlt-gray-5;
}

._btn.gray_heavy {
	@apply bg-mlt-gray-4 text-mlt-dark-2 hover:bg-mlt-gray-3;
}

._btn.gray_heavy_invert {
	@apply bg-mlt-gray-4 text-mlt-dark-2 hover:bg-mlt-dark-3 hover:text-white;
}

.login_provider_btn {
	@apply border border-mlt-gray-4 rounded-full bg-white hover:bg-secondary-orange hover:border-secondary-orange transition-all duration-300 opacity-90 drop-shadow-md w-10 h-10 flex_center;

	transform: scale(1.02);
}

.login_provider_btn .icon {
	@apply transition-all duration-300;

	filter: invert(0) saturate(0.85);
}

.login_provider_btn:hover .icon {
	filter: invert(1) saturate(0) grayscale(1) brightness(10);
}

.head_text {
	@apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
	@apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
	@apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
	@apply bg-gradient-to-r from-mlt-blue-primary to-mlt-purple-primary bg-clip-text text-transparent;
}

.desc {
	@apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.copy_btn {
	@apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

/* https://tailwindcss-glassmorphism.vercel.app/ */
.glassmorphism {
	/* @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5; */
	@apply rounded-xl border-2 border-mlt-purple-secondary/40 bg-mlt-purple-secondary/10
	shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] drop-shadow-lg backdrop-blur p-5;
}

.prompt_layout {
	@apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
	@apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_input_title {
	@apply font-Unicephalon font-semibold text-base text-mlt-dark-6;
}

.form_input {
	@apply w-full flex rounded-lg mt-2 p-3 text-base text-mlt-dark-0 opacity-70 outline-0 active:drop-shadow-lg focus:drop-shadow-lg transition-all duration-300 active:opacity-95 focus:opacity-95 hover:opacity-95 active:text-mlt-dark-4 focus:text-mlt-dark-4 focus:outline-0;
}

/* .form_input:hover:active:focus:focus-visible:focus-within:visited:target {} */

.form_input:focus-visible {
	outline: none;
}

.search_input {
	@apply opacity-100 active:opacity-100 focus:opacity-100 drop-shadow-md
	border-2 border-mlt-purple-secondary/30 font-medium text-mlt-dark-5
	active:border-mlt-purple-secondary/60 focus:border-mlt-purple-secondary/60;
}

.form_textarea {
	@apply h-[180px] min-h-[50px];
}

.input_file_wrapper {
	@apply w-full flex rounded-lg mt-2 px-3 py-2 outline-0 gap-3 items-center justify-center
	text-lg text-mlt-purple-secondary/100
	active:drop-shadow-lg focus:drop-shadow-lg hover:drop-shadow-lg 
	transition-all duration-300 cursor-pointer
	bg-white opacity-70 active:opacity-70 focus:opacity-70 hover:opacity-95
	border-2 border-mlt-purple-secondary/30 active:border-mlt-purple-secondary/30 focus:border-mlt-purple-secondary/30 hover:border-mlt-purple-secondary/60;

	letter-spacing: 0.4px;
}

.input_file_wrapper input[type="file"] {
	display: none;
}

/* Nav Component */
.logo_text {
	@apply max-sm:hidden font-Unicephalon font-semibold text-lg;

	letter-spacing: 1.8px;
}

.logo_text_str0 {
	@apply text-secondary-orange;
}

.logo_text_str1 {
	color: #ffa600;
}

.logo_text_str2 {
	color: #ef720e;
}

.logo_text_str3 {
	color: #ea620c;
}

.dropdown {
	@apply absolute -right-2 -top-2 mt-0 w-full p-5 pt-16 pb-3 rounded-lg min-w-[210px] flex flex-col gap-4 justify-end items-end shadow-lg shadow-secondary-orange/10 bg-mlt-gray-6 drop-shadow-lg;
}

.dropdown_link {
	@apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium pr-1;
}

/* PromptCard Component */
.prompt_card {
	@apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex_center {
	@apply flex justify-center items-center;
}

.flex_start {
	@apply flex justify-start items-start;
}

.flex_end {
	@apply flex justify-end items-center;
}

.flex_between_center {
	@apply flex justify-between items-center;
}

.flex_between_start {
	@apply flex justify-between items-start flex-col usm:flex-row gap-4;
}
