# This directory is created within the initial setup for the tutorial
# [Next.js 13 Full Course 2023 Tutorial](https://youtu.be/wm5gMKuwSYk)
# But the most files created within the "lib/" directory instead here.
